 /*Landing Page*/
 .container {
  width: 100%;
  padding-left: 0px;
  margin: 0px 0px 0px 0px;  
}

.landing-page {
  float: left;
  background-color: #FFF;
}

.landing-page .header-area {
  display: flex;
  padding-top: 25px;
  padding-bottom: 15px;
  position: relative;
  width: 100%;
  margin: 0px;
  margin-top: 0px;
}

.logo {
  margin-left: 5px;
}

.landing-page .header-area .links {
  list-style: none;
  margin: 0;
  float: right;
  text-align: right;
  width: 800px;
  margin-left: 1000px;
}

.landing-page .header-area .links li {
  display: inline-block;
  text-align: center;
  margin-left: 50px;
  font-style: black;
  cursor: pointer;
  font-weight: bold;
  padding-bottom: 3px;
  text-decoration: none;
}
  
li a {
  text-decoration: none;
  color: black;
}
.links li a:hover {
  color: black;
  transition: 0.1s;
  border-bottom: solid #E39C7B;
  text-decoration: none;
}

.links input[type=text] {
  font-size: 15px;
  margin-left: 0px;
  border-color: black;
  border-width: 1px;
  text-decoration: black;
  margin-right: 20px;
  font-family: 'Montserrat','Cardo', sans-serif;
}

#move {
  float: right;
  font-family: 'Montserrat','Cardo', sans-serif;
}



  /* HEADER BAR */
  .about-intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Montserrat','Cardo', sans-serif;
    letter-spacing: 3.5px;
    line-height: 30px;
    font-size: 25px;
    opacity: 2.5;
    text-shadow: 1px 1px #302e2a;
  }

  .header {
    position: relative;
    text-align: center;
    color: white;
  }

  .header-img {
    opacity: 0.6;
  }


  /* MAIN SECTION */
  .info {
    display: flex;
    font-size: 20px;
    line-height: 30px;
    margin: 25px;
    margin-right: 250px;
    margin-left: 100px;
    text-justify: inter-word;
    text-align: justify;
    padding-right: 100px;
    padding: 10px;
  }

  body {
    font-family: 'Cardo', serif;
    margin: 0;
  }

  h1 {
    font-family: 'Montserrat', sans-serif;
  }

  h2 {
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 25%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }


  /* QUOTE */
  .middle {
    position: relative;
    text-align: center;
    color: white;
  }

  .quote {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Cardo', serif;
    letter-spacing: 3px;
    line-height: 25px;
    font-size: 20px;
  }

  /* SOCIAL */
  .social {
    margin-left: 300px;
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 200px;
  }

  .fa:hover {
    opacity: 0.7;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-youtube {
    background: #c4302b;
    color: white;
  }

  .fa-pinterest {
    background: #c8232c;
    color: white;
  }


  /* FOOTER */
  .copyright {
    text-align: center;
    padding-bottom: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 30px;
    font-family: 'Montserrat', serif;
  }