body {
  font-size: 20px;
  color: #212529;
  font-family: 'Montserrat', 'Cardo' , serif;
}

p {
	font-family:'Cardo', serif;
	color: #474747;
}

a {
	text-decoration: none;
	color: #FBF3E8; 
}

h5 {
  font-family: 'Montserrat', sans-serif;
	color: white;
}

h1 {
  font-family: 'Montserrat', sans-serif;
	color: white;
}

h2 {
  font-size: 45px;
	color: #302e2a;
}

h3 {
  font-size: 25px;
	color: #302e2a;
}

.post-preview p a {
  font-size: 20px;
	color: #302e2a;
}

span {
  font-family: 'Montserrat', sans-serif;
	color: white;
}

header.masthead {
  margin-bottom: 50px;
  background: no-repeat center center;
  background-color: #868e96;
  background-attachment: scroll;
  position: relative;
  background-size: cover;
  text-align: center;
}

header.masthead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #212529;
  opacity: 0.5;
}

header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
  padding: 200px 0 150px;
  color: white;
}
.carousel-inner p {
	font-family: 'Montserrat', sans-serif;
	color: white;
}  

/* NAVIGATION BAR  */

.container {
  width: 100%;
  padding-left: 0px;
  margin: 0px 0px 0px 0px;  
}

.landing-page {
  float: middle;
  background-color: #FFF;
}

.landing-page .header-area {
  display: flex;
  padding-top: 25px;
  padding-bottom: 15px;
  position: relative;
  width: 100%;
  margin: 0px;
  margin-top: 0px;
}

.logo {
  margin-left: 5px;
}

.landing-page .header-area .links {
  list-style: none;
  margin: 0;
  float: right;
  text-align: right;
  width: 800px;
  margin-left: 1000px;
}

.landing-page .header-area .links li {
  display: inline-block;
  text-align: center;
  margin-left: 50px;
  font-style: black;
  cursor: pointer;
  font-weight: bold;
  padding-bottom: 3px;
  text-decoration: none;
}
  
li a {
  text-decoration: none;
  color: black;
}
.links li a:hover {
  color: black;
  transition: 0.1s;
  border-bottom: solid #E39C7B;
  text-decoration: none;
}

.links input[type=text] {
  font-size: 15px;
  margin-left: 0px;
  border-color: black;
  border-width: 1px;
  text-decoration: black;
  margin-right: 20px;
}

#move {
  float: right;
}


/* BLOG IMAGES CAROUSEL */
.carousel-item-active img{
  opacity: 0.75;
}

.carousel-item img{
  opacity: 0.75;
}

.blog-description {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: justify;
}

.quote-box {
  font-style: italic;
  color: #A7B480;
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}

/* HEADER */

.header img {
	width: 100px;

}

header.masthead {
  margin-bottom: 50px;
  background: no-repeat center center;
  background-color: #868e96;
  background-attachment: scroll;
  position: relative;
  background-size: cover;
  text-align: center;
}

header.masthead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #212529;
  opacity: 0.5;
}

header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
  padding: 200px 0 150px;
  color: white;
  text-align: center;
}

/* FOOTER */
.copyright {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 30px;
  font-family: 'Montserrat', serif;
}

/* BLOG POSTS */

.post-preview > a {
  color: #212529;
}

.post-preview > a:focus, .post-preview > a:hover {
  text-decoration: none;
  color: #0085A1;
}

.post-preview > a > .post-title {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.post-preview > a > .post-subtitle {
  font-weight: 300;
  margin: 0 0 10px;
}

.post-preview > .post-meta {
  font-size: 18px;
  font-style: normal;
  margin-top: 0;
  color: #868e96;
}

.post-preview > .post-meta > a {
  text-decoration: none;
  color: #212529;
}

.post-preview > .post-meta > a:focus, .post-preview > .post-meta > a:hover {
  text-decoration: underline;
  color: #0085A1;

}