.AVT {
    margin: 100px;
    align-items: left;
    display: flex;
}

.img2 {
    height: 750px;
    width: 500px;
    padding: 50px;
    }

.about {
    font-family: 'Lato', sans-serif;
    text-align: center;
    letter-spacing: 3px;
    line-height: 25px;
    font-size: 20px;
}

.button1 {
    background-color: #e39c7b;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

.button2 {
    background-color: #e39c7b;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

.middle {
    position: relative;
    text-align: center;
    color: white;
}

.quote {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Lato', sans-serif;
    letter-spacing: 3px;
    line-height: 25px;
    font-size: 20px;
}

.values {
    font-family: 'Lato', sans-serif;
    padding: 100px;
}

.bgimg1 {
    margin: 30px;
    border: 1px;
    padding: 20px;
}

.bgimg2 {
    margin: 30px;
    border: 1px;
    padding: 20px;
}

.bgimg3 {
    margin: 30px;
    border: 1px;
    padding: 20px;
}

.image-gallery {
    display: flex; 
    justify-content: center;
    align-items: space-between;
    flex-wrap: wrap;
}

.v1 {
    position: relative;
    text-align: center;
    color: black;
}

.acc {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Lato', sans-serif;
    background-color: rgba(185, 185, 185, 0.5);
}

.v2 {
    position: relative;
    text-align: center;
    color: black;
}

.create {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Lato', sans-serif;
    background-color: rgba(185, 185, 185, 0.5);
}

.v3 {
    position: relative;
    text-align: center;
    color: black;
}

.eng {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Lato', sans-serif;
    background-color: rgba(185, 185, 185, 0.5);
}




a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
  background-color: #e39c7b;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
  background-color: #e39c7b;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: none;
  background-color: #e39c7b;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: none;
  background-color: #e39c7b;
}