body {
  font-family: 'Montserrat', serif;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  background: white /*rgba(198, 161, 206, 0.486);*/
  /*justify-content: center;*/
  /*overflow: hidden;*/
}

/* NAVIGATION BAR */
nav a {
  font-size: 10px;
  color: #302E2A;
  font-family: 'Montserrat', serif;
}

#mainNav {
  position: absolute;
  border-bottom: 1px solid #e9ecef;
  background-color: white;
  font-family: 'Montserrat', 'Cardo', sans-serif;
}

#mainNav .navbar-brand {
  font-weight: 800;
  color: #302E2A;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  font-weight: 800;
  padding: 13px;
  text-transform: uppercase;
  color: #302E2A;
}

#mainNav .navbar-nav > li.nav-item > a {
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.navbar a:hover {
  color: #D5D7B9;
  transition: 0.1s;
  text-decoration: #D5D7B9 solid underline;
}


#instructions h3{
  text-align: center;
  font-family: 'Montserrat', serif;
  margin-top: 0px;
  margin-bottom: 0px;
  font-style: italic;
  color: #302E2A;
  padding-bottom: 5px;
}

#button {
   position:absolute;
    transition: .5s ease;
    top: 45%;
    left: 40%;  
    z-index: 2;
    background-color: #D5D7B9;
    border-radius: 30px;
}

#button h1{
  color: white;
  font-family: 'Montserrat', serif;
  font-weight: 500px;
  padding: 0px 20px 0px 20px;
  text-decoration: underline;
}

.map {
  padding-top: 18px;
  align-content: center;
  margin-right: 0px;

}
svg {
  width: 98vw;
  height: 80vh;
  display: block;
  z-index: 1;
}
path {
  fill: #302E2A;
  cursor: pointer;
}
path:hover {
  fill: #E39C7B;
}

#copyright {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 30px;
  font-family: 'Montserrat', serif;
}
