/*General formatting*/
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    height: 90%;
}

/*Landing Page*/
.container {
    width: 100%;
    padding-left: 0px;
    margin: 0px 0px 0px 0px;  
}

.landing-page {
    float: left;
    background-color: #FFF;
}

.landing-page .header-area {
    display: flex;
    padding-top: 25px;
    padding-bottom: 15px;
    position: relative;
    width: 100%;
    margin: 0px;
    margin-top: 0px;
}

.logo {
    margin-left: 5px;
}
  
.landing-page .header-area .links {
    list-style: none;
    margin: 0;
    float: right;
    text-align: right;
    width: 800px;
    margin-left: 1000px;
}

.landing-page .header-area .links li {
    display: inline-block;
    text-align: center;
    margin-left: 50px;
    font-style: black;
    cursor: pointer;
    font-weight: bold;
    padding-bottom: 3px;
    text-decoration: none;
}
    
li a {
    text-decoration: none;
    color: black;
}
.links li a:hover {
    color: black;
    transition: 0.1s;
    border-bottom: solid #E39C7B;
    text-decoration: none;
}

.links input[type=text] {
    font-size: 15px;
    margin-left: 0px;
    border-color: black;
    border-width: 1px;
    text-decoration: black;
    margin-right: 20px;
}

#move {
    float: right;
}


/*Instructions*/

.landing-page .info {
    width: 22%;
    float: left;
    margin-top: 140px;
    margin-left: 20px;
}

.landing-page .info h1 {
    font-size: 44px;
    margin: 0 0 20px;
    line-height: 1.4;
    color: #474747;
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
}

.landing-page .info ul {
    padding-left: 20px;
}

.landing-page .info li {
    margin: 0;
    line-height: 1.6;
    font-size: 20px;
    color: black;
    list-style-type: circle;
}

.landing-page .info button {
    border: 0;
    border-radius: 20px;
    padding: 12px 30px;
    margin-top: 20px;
    cursor: pointer;
    color: #FFF;
    background-color:#E39C7B;
    font-weight: bolder;
    font-size: 19px;
    margin-left: 25%;
}

button a {
    text-decoration: none;
    color: white;
}

/*Map*/

.landing-page .image {
    width: 75%;
    float: right;
    margin-top: 35px;
    margin-right: 15px;
}

.map {
    padding-top: 0px;
    align-content: center;
    margin-right: 20px;
}

svg {
    width: 70vw;
    height: 80vh;
    display: flex;
    justify-content: left;
    z-index: 1;
    margin-right: 20px;
}

path {
    fill: black;
    cursor: pointer;
    }

path:hover {
    fill: #E39C7B
}

/*Copyright footer*/

footer {
    text-align: center;
    padding-top: 49%;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 10px;
    font-family: 'Arimo', sans-serif;
    display: block;
    width: 100%;
    bottom: 0px;
}

footer p {
    margin: 0px;
}